* {
  box-sizing: border-box;
}

body {
  /* width: 100vw;
  height: 100vh; */
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
}

.nav {
  margin: 8px;
}

.btn {
  height: 21px;
  font-size: 0.6rem;
  font-weight:bold;
  text-transform: uppercase;
  border-radius: 4px;
  cursor: pointer;
}

.btn:active {
  opacity: 0.8;
}

.green-btn {
  background: #e3f6b3;
}

.green-btn:hover {
  box-shadow: 0 0 20px #e3f6b3, 0 0 20px #e3f6b3, 0 0 20px #e3f6b3, 0 0 20px #e3f6b3;
}

.blue-btn {
  background: #d3e3fb;
}

.blue-btn:hover {
  box-shadow: 0 0 20px #d3e3fb, 0 0 20px #d3e3fb, 0 0 20px #d3e3fb, 0 0 20px #d3e3fb;
}

.nav-btn {
  width: 85px;
}

.garage-page {
  display: block;
  width: 100%;
}

.settings,
.winners {
  margin-top: 30px;
}

.create-car,
.update-car,
.btn-container {
  margin: 8px;
}

.input-text {
  background: #e2ebf9;
}

.input-color {
  height: 21px;
  border-radius: 7px;
}

.settings-btn {
  width: 65px;
}

.race-btn,
.reset-btn {
  width: 80px;
}

.generate-btn {
  width: 130px;
}

.garage {
  margin-top: 50px;
}

h1, h2, h3 {
  padding: 0;
  margin: 0;
  padding-bottom: 10px;
}

.car-container {
  padding: 5px 0;
}

.car-title {
  display: flex;
  column-gap: 5px;
}

.car-main {
  width: 100%;
  height: 37px;
  display: flex;
  flex-direction: row;
  column-gap: 5px;
  margin-top: 5px;
}

.car-brand {
  margin-left: 15px;
  color: #e6d371;
}

.btn-start,
.btn-stop {
  width: 25px;
  height: 25px;
  vertical-align: top;
  border: 2px solid #49484a;
  border-radius: 7px;
  background: #000;
  color: #49484a;
  cursor: pointer;
}

.btm-active {
  color: #e3f6b3;
  border: 2px solid #e3f6b3;
}

.distance {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 20px;
}

.car {
  width: 90px;
  height: 25px;
  position: absolute;
  bottom: 1px;
  left: 0;
  filter: drop-shadow(0 0 3px #d3e3fb);
}

.car-winner {
  width: 45px;
  height: 12px;
  filter: drop-shadow(0 0 3px #d3e3fb);
}

.flag {
  position: absolute;
  right: 95px;
  width: 40px;
  height: 35px;
}

hr {
  margin: 0;
  border-color: white;
  border-style: dashed;
}

.prev-and-next {
  margin-top: 25px;
}

.prev-btn,
.next-btn {
  width: 80px;
}

.winners-page {
  display: block;
  /* width: 100%; */
  margin: 8px;
}

th,
tr {
  padding: 10px;
}

th:first-child {
  text-align: left;
}