* {
  box-sizing: border-box;
}

body {
  /* width: 100vw;
  height: 100vh; */
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #000;
}

.nav {
  margin: 8px;
}

.nav-btn {
  width: 85px;
  border-radius: 4px;
}

.green-btn {
  background: #e3f6b3;
}

.blue-btn {
  background: #d3e3fb;
}

.settings {
  margin-top: 30px;
}

.create-car,
.update-car,
.btn-container {
  margin: 8px;
}

.input-text {
  background: #e2ebf9;
}

.input-color {
  height: 21px;
  border-radius: 7px;
}

.settings-btn {
  width: 65px;
  border-radius: 4px;
}

.race-btn,
.reset-btn {
  width: 80px;
  border-radius: 4px;
}

.generate-btn {
  width: 130px;
  border-radius: 4px;
}