.artist-page,
.pictures-page {
  display: none;
  background: #000000;
  opacity: 0;
  transition: opacity 1s;
}

.artist-header,
.pictures-header {
  height: 62px;
  margin: 20px;
}

.art-quiz {
  height: 62px;
  width: 166px;
  background: url(static/a82322d868600588da2a.svg) center center/contain no-repeat;
}

.text-categories {
  margin: 28px 16px 51px;
}

.categories-container {
  /* margin: 5px; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 14px;
}

.img-cards {
  height: 200px;
  width: 164px;
  opacity: 0;
  transform: translateY(30%) scale(0.95);
  transition: all 1s;
  cursor: pointer;
  user-select: none;
}

/* .img-text {

} */

.img-small {
  height: 155px;
  width: 164px;
  border-radius: 20px;
  filter: grayscale(100%);
  transition: all 1s;
}

.img-small:hover {
  filter: grayscale(0);
}

.img-cards.img-active {
  opacity: 1;
  transform: translateY(0%) scale(1);
}

.category-footer {
  height: 75px;
  width: 100%;
  padding: 0 40px 0 40px;
  position: sticky;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #fff;
  border-radius: 20px 20px 0 0;
  background: #000;
  z-index: 10;
}

.home {
  width: 31px;
  height: 48px;
  background: url(static/98018e0b15640e437018.svg) center center/contain no-repeat;
  user-select: none;
  cursor: pointer;
}

.home:hover {
  background: url(static/f9d01859886470086027.svg) center center/contain no-repeat;
}

.home-active {
  background: url(static/f9d01859886470086027.svg) center center/contain no-repeat;
}

.categories {
  width: 58px;
  height: 48px;
  background: url(static/96542d51a7f5dae63db1.svg) center center/contain no-repeat;
  user-select: none;
  cursor: pointer;
}

.categories-active {
  background: url(static/02ca044cf1231dc46557.svg) center center/contain no-repeat;
}

.categories:hover {
  background: url(static/02ca044cf1231dc46557.svg) center center/contain no-repeat;
}

.score {
  width: 31px;
  height: 48px;
  background: url(static/220cd2e0d6d9872e9fa4.svg) center center/contain no-repeat;
  user-select: none;
  cursor: pointer;
}

.score:hover {
  background: url(static/8538dc21609401c7f46e.svg) center center/contain no-repeat;
}

@media (min-width: 520px) {

  .categories-container {
    column-gap: 26px;
  }

  .img-cards {
    height: 251px;
    width: 200px;
    /* opacity: 0.5;
    transform: translateY(10%) scale(0.95); */
  }

  .img-small {
    height: 206px;
    width: 195px;
    
  }

}

@media (min-width: 726px) {

  .img-cards {
    opacity: 0.5;
    transform: translateY(10%) scale(0.95);
  }

  .img-small {
    height: 206px;
    width: 195px;
  }

}

.question-about-artists {
  display: none;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s;
}

.question-artist {
  width: 90%;
  margin: 70px auto 50px;
  text-align: center;
}

.question-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 14px;
  row-gap: 14px;
}

.question-img {
  height: 155px;
  width: 164px;
  border-radius: 20px;
  cursor: pointer;
  user-select: none;
}


.settings-menu{
  display: none;
	width: 100%;
	height: 100%;
  opacity: 0;
  transition: opacity 1s;
}

.settings-container{
	width: 90%;
	height: 608px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

.settings-header{
	width: 100%;
	height: 28px;
  margin-top: 27px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.to-home-btn,
.close{
	width: 18px;
	height: 18px;
	background-color: transparent;
}

.to-home-btn {
  background: url(static/cd130bd910ea2c56d880.svg) center center/contain no-repeat;
  user-select: none;
  cursor: pointer;
}

.close {
  background: url(static/ef014f36f8fdbf9bf67f.svg) center center/contain no-repeat;
  user-select: none;
  cursor: pointer;
}

.settings-title{
	font-size: 24px;
	line-height: 28px;
	letter-spacing: -0.5px;
	color: #FFFFFF;
}

.volume-title{
	font-size: 35px;
	line-height: 28px;
	letter-spacing: -0.914286px;
	color: #FFFFFF;
	margin-top: 50px;
	text-align: center;
}

.volume-progress{
	position: relative;
	width: 320px;
	height: 16px;
	margin: 28px auto;
	background: #000;
}
.volume-range{
	-webkit-appearance: none;
	overflow: hidden;
	width: 100%;
	height: 3px;
	background: #A4A4A4;
}
.volume-range::-webkit-slider-thumb{
	-webkit-appearance: none;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background: red;
	box-shadow: -300px 0 0 300px #FFBCA2;
}
.volume-circle{
	position: absolute;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background: #FFFFFF;
	top: 10px;
  user-select: none;
  cursor: pointer;
}


.min-max-volume{
	width: 320px;
	height: 16px;
	margin: 20px auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background: #000;
}

.mute,
.volume{
	width: 23px;
	height: 100%;
	background-color: transparent;
}

.mute {
	background: url(static/0237ec23b2edc4b972db.svg) center center/contain no-repeat;
  user-select: none;
  cursor: pointer;
}

.mute:hover {
	background: url(static/f3e76a47cd54e9cba74f.svg) center center/contain no-repeat;
}

.mute-active {
	background: url(static/042a9f3864d04be6556e.svg) center center/contain no-repeat;
}

.volume{
	background: url(static/22e9daaaf7afa4d601f9.svg) center center/contain no-repeat;
  user-select: none;
  cursor: pointer;
}

.volume:hover{
	background: url(static/d76a3f1da9a560334aca.svg) center center/contain no-repeat;
}

.volume-active{
	background: url(static/c6868e771473bf5e3b53.svg) center center/contain no-repeat;
}


.settings-time-game{
	margin-top: 40px;
	font-size: 30px;
	line-height: 28px;
	letter-spacing: -0.914286px;
	color: #FFFFFF;
	text-align: center;
}
.on-off-time{
	width: 97px;
	height: 28px;
	margin: 20px auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.on-time,
.off-time{
	font-size: 24px;
	line-height: 28px;
	letter-spacing: -0.5px;
	color: #FFFFFF;
}
.off-time{
	display: none;
}
.btn-time{
	width: 48px;
	height: 24px;
	background: #FFBCA2;
	border: 1px solid #FFBCA2;
	border-radius: 1000px;
	transition: background 0.5s;
  user-select: none;
  cursor: pointer;
}
.btn-circle{
	width: 16px;
	height: 16px;
	background:#fff;
	border-radius: 50%;
	margin-left: 57%;
	transition: margin-left 0.5s;
}
.time-to-answer{
	margin-top: 50px;
	font-size: 30px;
	line-height: 28px;
	letter-spacing: -0.914286px;
	color: #FFFFFF;
	text-align: center;
}
.time-to-answer-container{
	width: 148px;
	height: 36px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 20px auto;
}
.btn-minus,
.btn-plus{
	width: 34px;
	height: 34px;
  border: 2px solid #ffffff;
  font-size: 34px;
  text-align: center;
	border-radius: 50%;
  user-select: none;
  cursor: pointer;
}
.time-count{
	width: 35px;
	height: 28px;
	font-size: 24px;
	line-height: 28px;
	letter-spacing: -0.5px;
  border: none;
	color: #FFFFFF;
	background-color: transparent;
	transition: color 0.2s;
  user-select: none;
}

input[type='number'] {
  -moz-appearance:textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.btn-minus:hover,
.btn-plus:hover {
  color: #000;
	background: #ffffff;
}

.btn-minus:active,
.btn-plus:active {
  color: #000;
	background: #FFBCA2;
}

.default-save{
	width: 328px;
	height: 62px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	column-gap: 16px;
	margin: 20px auto;
}

.default,
.save {
	width: 156px;
	height: 56px;
}

.default-save-active{
	color: #000;
	background: #FFBCA2;
	border: 1px solid #FFBCA2;
	transition: 0.5s;
}

@media (min-width: 520px) {

  .settings-title {
    width: 80%;
  }

  .volume-title {
    padding-left: 10%;
    text-align: left;
  }

	.volume-progress {
    width: 80%;
	}

	.min-max-volume {
    width: 80%;
	}

	.settings-time-game {
    padding-left: 10%;
    text-align: left;
	}

	.on-off-time {
    margin: 20px 10%;
	}

	.time-to-answer {
    padding-left: 10%;
    text-align: left;
	}
	.time-to-answer-container {
    margin: 20px 10%;
	}

	.default-save {
    width: 80%;
    margin: 110px auto;
}

	.default,
	.save {
		width: 48%;
	}
}

@media (min-width: 768px) {

	.volume-progress {
    width: 492px;
		margin: 28px 10%;
	}

	.min-max-volume {
    width: 492px;
		margin: 28px 10%;
	}

	.default-save {
    width: 582px;
    float: right;
	}
}
@font-face {
  font-family: 'Gentium-Bold';
  src: url(static/5b7746578ce017174bdb.ttf);
}

@font-face {
  font-family: 'Gentium-BoldItalic';
  src: url(static/fed45f7038d32a910a1b.ttf);
}

@font-face {
  font-family: 'Gentium-Italic';
  src: url(static/b9a7cc3977f9b037ab4d.ttf);
}

@font-face {
  font-family: 'Gentium-Regular';
  src: url(static/3aea63c76b1752d3ca7b.ttf);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: 'Gentium-Regular';
  font-size: 22px;
  line-height: 26px;
  background-color: #000000;
  color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: 'Gentium-Bold', serif;
}

/* ================================================================== */

.title-page {
  background: #000000;
  opacity: 1;
  transition: opacity 1s;
}

/* .title-wrapper {
  width: 100%;
  max-width: 360px;
  height: 640px;
  margin: 0 auto;
  background: url(../assets/png/j-retrato-de-cardenal-rafael-360.png) center center / cover no-repeat;
} */

.title-wrapper {
  width: auto;
  height: 100vh;
  margin: 0 auto;
  background: url(static/479a08e91478158cb8c6.png) center center / auto 100% no-repeat;
}

.settings-btn {
  position: absolute;
  top: 20px;
  right: 25px;
  width: 26px;
  height: 36px;
  background: url(static/5daac34822c313c4f177.svg) center center/contain no-repeat;
  cursor: pointer;
  user-select: none;
}

.main {
  position: absolute; 
  left: 50%;             
  top: 50%;     
  transform: translate(-50%, -15%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 260px;
}

.title {
  height: 82px;
  width: 220px;
  margin: 0 auto;
  user-select: none;
}

.img-title {
  height: 100%;
  width: 100%;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 20px;
}

.btn {
  height: 56px;
  width: 268px;
  padding: 13px;
  border: 2px solid #ffffff;
  border-radius: 31px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.btn:hover,
.btn:hover {
  color: #000;
	background: #ffffff;
}

.btn:active,
.btn:active {
  color: #000;
	background: #FFBCA2;
}

.artist-picture-active{
	color: #000;
	background: #FFBCA2;
	border: 1px solid #FFBCA2;
	transition: 0.5s;
}

.footer {
  position: fixed;
  bottom: 0;
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* opacity: 1; */
}

.rsshool {
  width: 85px;
  height: 31px;
  background: url(static/99f90ed835117db2a198.svg) center center/contain no-repeat;
}

.course-link {
  display: block;
  width: 100%;
  height: 100%;
}

.github-link {
  color: inherit;
  text-decoration: none;
}

@media (min-width: 520px) {

  .main {
    transform: translate(-50%, -50%);
    height: 320px;
  }

  .title-wrapper {
    background: url(static/fa960c139a59e294b7fc.png) center center / auto 100% no-repeat;
  }

  .title {
    height: 120px;
    width: 321px;
  }

  .buttons {
    margin: 0 auto;
  }
}


@media (min-width: 768px) {

  .title-wrapper {
    background: url(static/182bf0d045f1f6034e2d.png) center center / auto 100% no-repeat;
  }

  .main {
    transform: translate(-50%, -30%);
    height: 320px;
    width: 614px;
  }

  .title {
    height: 164px;
    width: 440px;
  }

  .buttons {
    flex-direction: row;
    justify-content: center;
    column-gap: 40px;
  }

  .artistBtn, 
  .pictureBtn {
    height: 62px;
    width: 287px;
  }

}

/*# sourceMappingURL=main.css.map*/