@media (max-width: 950px) {
  .container {
    max-width: 728px;
  }

  .header__inner {
    height: 110px;
    background-position: 0 30px;
  }

  .burger__nav {
    display: block;
    position: absolute;
    width: 728px;
    max-width: 0;

    height: 861px;
    bottom: 31px;
    left: calc(100% - 728px);
    
  }

  .burger-imgs {
    margin: 0 auto;
    max-width: 658px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
  }

  .burger-img-1 {
    width: 100%;
    height: auto;
  }

  .burger-img-2 {
    width: 48%;
    height: auto;
  }

  .burger-social {
    display: flex;
    height: 118px;
    margin-top: 35px;
    justify-content: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    align-items: center;
  }

  .social__item:first-child {
    margin-left: 0;
  }

  #menu:checked ~ .burger__nav {
    max-width: 728px;
    /* max-height: 861px; */
    font-size: 1rem;
    /* font-size: 20px; */
  }

  .welcome {
    max-height: 971px;
    height: 971px;
  }

  .welcome__inner {
    flex-direction: column;
  }

  .welcome__item {
    min-height: 215px;
    height: 325px;
    width: 100%;
    padding-top: 110px;
    text-align: center;
  }

  .section {
    padding-bottom: 40px;
    padding-top: 40px;
  }

  .section-welcome {
    font-size: 40px;
    line-height: 60px;
  }

  .section__subtitle {
    font-size: 20px;
    line-height: 23px;
  }

  .btn__discover {
    display: none;
  }

  .visiting__items {
    column-gap: 56px;
    padding-bottom: 40px;
  }

  .visiting__item {
    width: 280px;
    padding-top: 40px;
  }

  .section__title__item {
    /* margin-top: 19px; */
    /* padding-bottom: 22px; */
    font-size: 22px;
    line-height: 24px;
    /* letter-spacing: 3px; */
  }

  .visiting__item::before {
    margin-top: 239px;
    /* margin-bottom: 10px;
   width: 150px; */
  }

  .visiting__item:hover::before {
    width: 280px;
  }

  .section__subtitle__item {
    font-size: 18px;
    line-height: 21px;
  }

  .small__subtitle {
    /* font-size: 16px; */
    /* line-height: 19px; */
    letter-spacing: 0.5;
  }

  .explore__title {
    margin-bottom: 40px;
    padding-bottom: 20px;
  }

  .explore__subtitle {
    display: none;
  }

  .explore__img {
    margin-top: 0;
  }

  .img-after {
    max-width: 726px;
    width: 100%;
  }


  .video__text {
    padding-bottom: 20px;
  }

  .video__play {
    width: 80px;
    height: 80px;
  }

  .previous,
  .next {
    display: none;
  }

  .range__rewind {
    position: absolute;
    width: 100%;
    left: 0;
    top: -12px;
  }

.range__volume {
  max-width: 486px;
  width: 71%;
  cursor: pointer;
  }

  .video__svg {
    width: 60%;
  }

  .panel {
    height: 53px;
  }

  .video-slider {
    height: 230px;
    margin-top: 21px;
  }

  .video-slider-set {
    height: 199px;
  }

  .video-slider-item {
    max-height: 199px;
    /* width: calc(50% - 10px); */
  }

  .big-slide {
    height: 392px;
  }

  .small-slide {
    height: 199px;
  }

  .video-slider-item:last-child {
   display: none;
 }

 .video-dot {
    width: 10px;
    height: 10px;
  }

  .video-slider-dots {
    width: 200px;
    height: 10px;
    margin-top: 21px;
    margin-bottom: 40px;
  }

  .section.gallery {
    padding-bottom: 0;
  }

  .gallery__title {
    margin-bottom: 40px;
  }

  .picture-container {
    height: 1080px;
  }

  .picture-inner-container {
    height: 3700px;
    column-gap: 24px;
  }

  .galery-img {
    /* width: 352px; */
    width: calc(50% - 12px);
  }

  .galery-img:nth-child(11n) {
    margin-top: 0;
  }

  .tickets__title {
    margin-bottom: 40px;
  }

  .tickets__title::after {
    margin-top: 20px;
  }

  .tickets__item {
    justify-content: unset;
    column-gap: 60px;
  }

  .ticket-img-1024 {
    width: 444px;
    height: 340px;
  }

  .button__wrap {
    padding-top: 14px;
  }

  .amount-button {
    max-width: 175px;
}

  .p-amount {
    margin-top: 25px;
  }

  .total {
    margin-top: 39px;
  }

  .buy__now {
    max-width: 175px;
    margin-top: 40px;
  }

  .parallax {
    height: 300px;
  }

  .contacts__item {
    flex-direction: column;
    padding-top: 40px;
  }

  .contacts__text {
    width: 100%;
  }

  .contacts__btitle__item {
    margin-bottom: 40px;
    font-size: 20px;
    line-height: 23px;
  }

  .contacts__subtitle__item {
    margin: 15px 0;
    font-size: 18px;
    line-height: 21px;
  }

  .contact-img {
    margin-top: 40px;
    max-width: 728px;
  }

  .footer {
    height: 411px;
    padding-top: 40px;
  }

  .footer__item {
    width: 100%;
  }

  .footer__inner-top {
    height: 268px;
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */
    /* flex-direction: column; */
  }

  .nav-footer {
    font-size: 18px;
    line-height: 21px;
    margin-left: auto;
    margin-right: 90px;
  }

  .social {
    margin-left: auto;
    margin-right: 90px;
  }

  .social__item {
    margin-top: 0;
    margin-left: 25px;
  }

  .nav__list__footer {
    padding-left: 0;
    padding-right: 184px;
  }

  .nav__list__footer:last-child {
    padding-right: 0;
  }

  .nav__list__footer:first-child {
    padding-left: 0;
  }

  .footer__inner-bottom {
    height: 102px;
  }
/* ++++++++++++++++++++++++++++++++++ */
  .overlay {
    overflow: auto;
  }
  .booking-tickets {
    width: 590px;
    max-height: 100vh;
    height: 100%;
    padding: 80px 30px 40px 30px;
    overflow-y: scroll;
  }
  .tickets-form {
    flex-direction: column;
    align-items: flex-start;
  }
  .tour {
    margin-bottom: 53px;
  }
  .input-data {
    width: 100%;
  }
  .date,
  .time {
    width: 251px;
    height: 45px;
  }
  .time {
    margin-left: 22px;
  }
  .name,
  .mail,
  .phone,
  .type-tickets {
    height: 45px;
    width: 100%;
  }
  .count-tickets {
    width: 100%;
  }
  .overview {
    margin-top: 12px;
    padding: 25px 15px;
  }

  .type-tickets {
    background-position-x: 14px, 500px;
  }

  
}
