html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 26px;
  background-color: #ffffff;
  color: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/* Container
===================*/

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

/* Header ===============*/

.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  background: #030303;
  /* background-image: url(../assets/svg/Logo.svg); */
  background-repeat: no-repeat;
  background-position: 0 50px;
}

.mask {
  width: 195px;
  height: 49px;
  align-items: center;

  background-color: #ffffff;

  mask-image: url(../assets/svg/Logo.svg);
  mask-size: cover;
  -webkit-mask-image: url(../assets/svg/Logo.svg);
  -webkit-mask-size: cover;
  transition: 0.3s;
  cursor: pointer;
}

.mask:hover {
  background-color: #9d8665;
}

/* Nav ===============*/
.nav__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.nav__item {
  padding-left: 55px;
}

.nav__item:first-child {
  padding-left: 0;
}

.nav__link {
  max-width: 720px;
  text-decoration: none;
  font-weight: 200;
  line-height: 50px;
  letter-spacing: 2px;
  color: #ffffff;

  transition: color 0.3s linear;
  cursor: pointer;
}

.nav__link:hover {
  color: #9d8665;
}

/* burger====================== */
.burger {
  display: none;
  width: 36px;
  height: 130px;
  margin-left: auto;
  /* text-align: center; */
  position: relative;
}

#menu {
  display: none;
}

.menu {
  display: block;
  position: absolute;
  top: 51px;
  left: 0;
  width: 35px;
  height: 35px;
  font-size: 1.5rem;
  color: #ffffff;
  cursor: pointer;
  z-index: 2;
}

.line {
  position: absolute;
  top: 57px;
  right: 0;
  width: 35px;
  height: 2px;
  background-color: #ffffff;
}

.second,
.third {
  top: 65px;
}

.fourth {
  top: 73px;
}

.burger__nav {
  display: block;
  position: absolute;
  width: 297px;
  max-width: 0;

  height: 585px;
  bottom: 0;
  left: calc(100% - 985px);
  transform: translateY(100%);
  background: #030303;
  /* max-height: 0; */
  font-size: 0;
  overflow: hidden;
  transition: 0.5s all;
}

.burger__list {
  padding: 0;
  width: 122px;
  height: 283px;
  margin: 35px;
}

.burger-imgs {
  display: none;
}

.burger-imgs-420 {
  display: none;
}

.burger-social {
  display: none;
}

.burger__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#menu:checked ~ .burger__nav {
  max-width: 297px;
  /* max-height: 600px; */
  font-size: 1rem;
  /* font-size: 20px; */
}

#menu:checked ~ .first {
  display: none;
}

#menu:checked ~ .second {
  transform: rotate(45deg);
}

#menu:checked ~ .third {
  transform: rotate(-45deg);
}

#menu:checked ~ .fourth {
  display: none;
}

#menu:checked ~ .section-welcome {
  /* display: none; */
  z-index: 0;
}

/* main======== */

/* welcome=============*/

.welcome {
  /* max-height: 960px; */
  position: relative;
  /* background: #030303 url("./assets/img/Louvre.png"); */
  background: #030303;
  /* background-repeat: no-repeat; */
  /* background-position: calc((100% + 705px) / 2) 200px; */
}

.welcome__inner {
  position: relative;
  display: flex;
  flex-direction: row;
}

.welcome__item {
  padding-top: 300px;
  min-height: 960px;
  width: 598px;
  height: 390px;
  z-index: 3;
}

.section {
  padding-bottom: 75px;
  padding-top: 75px;
}

.section-welcome {
  font-family: "Forum";
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

h2.section-welcome {
  margin-bottom: 28px;
  
}

.section__title {
  font-family: "Forum";
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.section__subtitle {
  font-size: 28px;
  letter-spacing: 2px;
}

.btn__discover {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 360px;
  height: 75px;
  margin-top: 80px;
  border-radius: 10px;
  background-color: #710707;
  letter-spacing: 2px;
  font-weight: 200;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;

  transition: background-color 0.1s linear;
}

.btn__discover:hover {
  background-color: #9d8665;
}

/* Visting============*/

.visiting__items {
  max-width: 1440px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.visiting__item {
  display: block;
  width: 440px;
  padding-top: 75px;
  text-decoration: none;
}

.visiting__item::before {
  position: absolute;
  display: block;
  content: "";
  margin-top: 355px;
  margin-bottom: 10px;
  width: 300px;
  height: 2px;
  background: #710707;
}

.visiting__item:hover::before {
  width: 440px;
  transition-duration: 0.7s;
}

.visiting__img {
  width: 100%;
  height: auto;
  align-items: center;
}

.section__title__white {
  color: #9d8665;
}

.underline::after {
  display: block;
  content: "";
  height: 3px;
  margin-top: 25px;
  background: #710707;
}

.section__title__item {
  margin-top: 19px;
  padding-bottom: 22px;
  font-family: Forum;
  font-style: normal;
  font-weight: normal;

  font-size: 32px;
  line-height: 35px;
  letter-spacing: 5px;
  text-transform: uppercase;

  color: #000000;
}

.section__subtitle__item {
  margin: 0;
  line-height: 26px;
  color: #000000;
  /* opacity: 0.5; */
}

.small__subtitle {
  margin-top: 10px;
  font-size: 18px;
  line-height: 21px;
}

/* explore====================*/

.explore {
  min-height: 865px;
  background: #030303;
}

.explore__inner {
  display: flex;
  justify-content: space-between;
}

.explore__title {
  margin-bottom: 75px;
  letter-spacing: 5px;
  padding-bottom: 25px;
  border-bottom: 3px solid #710707;
}

.explore__subtitle {
  margin: 25px 0;
  padding-right: 5px;
  line-height: 40px;
  opacity: 0.5;
}

.span {
  color: #c0c04f;
}

.explore__text {
  width: 660px;
}

.explore__img {
  max-height: 700px;
  position: relative;
  display: inline-block;
  margin-top: 15px;
  overflow: hidden;
  user-select: none;
}

.back-img {
  position: absolute;
  height: 100%;
  overflow: hidden;
  user-select: none;
}

.back-img-420 {
  display: none;
}

.img-before {
  display: block;
  user-select: none;
}

.img-slider {
  position: absolute;
  background-color: rgb(255, 255, 255, 0);
  left: 412.5px;
  border: 0;
}

/* video==========*/

.video__inner {
  display: flex;
  flex-direction: column;
  /* height: 1009px; */
}

.video__player {
  display: flex;
  flex-direction: column;
  /* margin-top: 90px; */
  position: relative;
}

.video__svg {
  width: 100%;
  height: auto;
}

.panel {
  display: flex;
  justify-content: space-between;
  margin: 0;
  height: 85px;
  background-color: #030303;
  padding: 0 20px 0 20px;
}

.video__button {
  border: 0;
  padding: 0;
  cursor: pointer;
}

.video__play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0);
}

.previous {
  background: #030303;
}

.play_panel {
  background: #030303;
}

.next {
  background: #030303;
}

.range__rewind {
  width: 55%;
  max-width: 820px;
  cursor: pointer;
}

.mute {
  background: #030303;
}

.range__volume {
  max-width: 155px;
  width: 10%;
  cursor: pointer;
}

.screen {
  background: #030303;
}

.video__text {
  display: flex;
  justify-content: space-between;
  padding-bottom: 75px;
}

.video__item {
  width: 50%;
}

.video__subtitle {
  display: flex;
  align-items: center;
  line-height: 40px;
  opacity: 1;
}

/* slider=================================== */

.video-slider-wrapper {
  width: 100%;
  /* height: 1080px; */
}

/* .video-main {
  margin-top: 75px;
  height: 735px;
  width: 100%;
} */
.video-slider {
  height: 305px;
  width: 100%;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.video-slider-set {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.video-slider-item {
  height: 254px;
  width: 452px;
}
.video-slider-dots {
  width: 200px;
  height: 12px;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.video-slider-dots-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 140px;
}
.video-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #999999;
  transition: 0.5s;
  cursor: pointer;
}

.video-dot-unvisited {
  background: #333333;
}

.video-slider-left,
.video-slider-right {
  height: 12px;
  width: 12px;
  display: block;
  margin: 0;
  padding: 0;
  fill: #999999;
  transition: opacity 0.7s ease-in-out;
  user-select: none;
  cursor: pointer;
}

.video-slider-left-420,
.video-slider-right-420 {
  display: none;
}

.video-slider-left:hover,
.video-slider-left-420:hover,
.video-slider-right:hover,
.video-slider-right-420:hover {
  fill: #333333;
}

/* gallery============================== */

.gallery {
  background: #030303;
  max-height: 2200px;
  position: relative;
}

.gallery__title {
  margin-bottom: 75px;
}

.picture-container {
  width: 100%;
  height: 1960px;
  overflow-y: hidden;
}

.picture-inner-container {
  width: 100%;
  height: 3000px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  column-gap: 36px;
  row-gap: 24px;
}

.galery-img {
  width: 456px;
}

.galery-img:first-child {
  margin-top: 50px;
}

.galery-img:nth-child(11n) {
  margin-top: 50px;
}

.shadow {
  position: absolute;
  width: 100%;
  height: 360px;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
  /* top: 1765px; */
}

/* Tickets========*/

.tickets {
  /* min-height: 893px; */
  color: #030303;
}

.tickets__inner {
  display: flex;
  flex-direction: column;
}

.tickets__title {
  margin-bottom: 77px;
  letter-spacing: 5px;
}

.tickets__title::after {
  display: block;
  content: "";
  margin-top: 25px;
  height: 3px;
  background: #710707;
}

.tickets__item {
  display: flex;
  flex-direction: row;
}

.ticket-img-1024 {
  display: none;
}

.ticket-img-420 {
  display: none;
}

.ticket__types {
  width: 25%;
  padding-left: 60px;
}

.ticket__heading {
  margin-bottom: 51px;
}

.input__wrapper {
  display: block;
  margin: 26px 0;
  padding-left: 40px;
  position: relative;
  cursor: pointer;
}

.input__wrapper input[type="radio"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0px;
  top: 4px;
  border: 2px solid #030303;
  background: #ffffff;
  border-radius: 50%;
}

.input__wrapper:hover input ~ .checkmark {
  background: #808080;
}

.input__wrapper input:checked ~ .checkmark {
  background-color: #ffffff;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.input__wrapper input:checked ~ .checkmark:after {
  display: block;
}

.input__wrapper input:checked ~ .checkmark:after {
  display: block;
}

.input__wrapper .checkmark:after {
  position: absolute;
  width: 7px;
  height: 7px;
  left: 3.5px;
  top: 3px;
  border-radius: 50%;
  background: #030303;
}

.amount {
  width: 25%;
  text-align: right;
}

h4 {
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
}

.button__wrap {
  padding-top: 16px;
  width: 150px;
  margin-left: calc(100% - 150px);
}

.p-amount {
  margin-bottom: 15px;
  margin-top: 10px;
  text-align: left;
}

.amount-button {
  display: inline-block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 150px;
  height: 50px;

  border: 3px solid #030303;
}

.but {
  font-size: 32px;
  line-height: 37px;
  text-align: center;
  border: 0;
  background: #ffffff;
  color: #030303;
  cursor: pointer;
}

.number {
  all: unset;
  width: 3em;
  padding-right: 10px;
  text-align: right;
}

.total {
  margin-top: 50px;
  text-align: left;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 1.65px;
}

.buy__now {
  width: 175px;
  height: 50px;
  margin-top: 60px;
  font-size: 22px;
  line-height: 26px;
  background: #030303;
  border-radius: 2px;
  color: #ffffff;
  cursor: pointer;
  letter-spacing: 2px;
}

.buy__now:hover {
  background: #9d8665;
}


/* form */
.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;  
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  z-index: 1000;
}

.overlay:target {
  opacity: 1;
  visibility: visible;
}

.overlay:target .booking-tickets {
  opacity: 1;
  transform: translate(0px, 0px);
}

.close-anchor {
  width: 1px;
  height: 1px;
  position: fixed;
  top: 0;
  left: 0;
}

.overclose {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.booking-tickets {
  width: 1440px;
  height: 845px;
  position: relative;
  margin: 0 auto;
  padding: 91px 235px;
  background-color: #ffffff;
  opacity: 0;
  transform: translate(-100%, 0px);
  transition: 0.5s;
}

.close {
  display: block;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 30px;
  right: 30px;
  border: none;
  background: #ffffff url('../assets/svg/booking-tickets/Close.svg') no-repeat center;
  cursor: pointer;
}

.tickets-form {
  display: flex;
  flex-direction: row;
  row-gap: 40px;
  justify-content: space-between;
  align-items: flex-end;
}

.input-data {
  width: 400px;
}

.tickets-logo {
  width: 100%;
  /* width: 400px; */
  height: 41px;
  background-image: url('../assets/svg/booking-tickets/bookLogo.svg');
  background-repeat: no-repeat;
  background-position: left center;
}

.booking-title {
  margin-bottom: 15px;
  font-family: 'Forum', cursive;
  font-weight: normal;
  font-size: 50px;
  line-height: 55px;
  text-transform: uppercase;
  color: #9D8665;
}

.tour {
  position: relative;
  margin-bottom: 73px;
  font-size: 18px;
  line-height: 21px;
  color: #710707;
}

.tour::after,
.count-tickets-title::after,
.overview-count::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  height: 3px;
  background-color: #710707;
}

.input-data > input {
  display: inline-block;
  margin-bottom: 20px;
}

.date,
.time {
  width: 188px;
  height: 43px;
  background: #ffffff;
  border: 1px solid #030303;
}  

.time {
  margin-left: 16px;
  padding-left: 43px;
  font-size: 18px;
  line-height: 21px;
  color: #030303;
  background-image: url('../assets/svg/booking-tickets/Time.svg');
  background-repeat: no-repeat;
  background-position-x: 15px;
  background-position-y: center;
}

.date {
  padding-left: 43px;
  font-size: 18px;
  line-height: 21px;
  color: #030303;
  background-image: url('../assets/svg/booking-tickets/date.svg');
  background-repeat: no-repeat;
  background-position-x: 15px;
  background-position-y: center;
}

.date::-webkit-calendar-picker-indicator,
.time::-webkit-calendar-picker-indicator {
  color: transparent;
  opacity: 1;
  background: url('../assets/svg/booking-tickets/arrow.svg') no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: auto;
}

.name,
.mail,
.phone,
.type-tickets {
  width: 398px;
  height: 43px;
  background: #ffffff;
  border: 1px solid #030303;
  margin-bottom: 20px;
}

.name {
  background-image: url('../assets/svg/booking-tickets/name.svg');
  background-repeat: no-repeat;
  background-position-x: 15px;
  background-position-y: center;
}

.mail {
  background-image: url('../assets/svg/booking-tickets/email.svg');
  background-repeat: no-repeat;
  background-position-x: 15px;
  background-position-y: center;
}

.phone {
  background-image: url('../assets/svg/booking-tickets/tel.svg');
  background-repeat: no-repeat;
  background-position-x: 15px;
  background-position-y: center;
}

.name::placeholder,
.mail::placeholder,
.phone::placeholder,
.type-tickets {
  padding: 0 43px;
  font-size: 18px;
  line-height: 21px;
  color: #030303;
}

.type-tickets {
  background-image: url('../assets/svg/booking-tickets/ballot.svg'),
                    url('../assets/svg/booking-tickets/arrow.svg');
  background-repeat: no-repeat;
  background-position-x: 15px, 368px;
  background-position-y: center;
  appearance: none;
}

.count-tickets {
  padding: 10px 15px;
  width: 398px;
  height: 133px;
  background: #ffffff;
  border: 1px solid #030303;
}

.count-tickets-title {
  position: relative;
  margin-bottom: 22px;
  font-family: 'Forum', cursive;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  text-transform: capitalize;
  color: #9D8665;
}

.basic,
.senior {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.p-basic {
  margin-top: 4px;
  font-size: 18px;
  line-height: 21px;
}

.count-tickets-basic {
  margin-left: 25px;
  margin-bottom: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 105px;
  height: 25px;
  border: 1px solid #000;
}

.count {
  display: block;
  width: 33px;
  height: 23px;
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  border: 1px solid #030303;
  background: #030303;
  color: #ffffff;
  cursor: pointer;
  transition: 0.5s;
}

.count:hover {
  background-color: #9D8665;
  border: 1px solid #9D8665
}

.count-tickets-number {
  width: 45px;
  padding-left: 10px;
  margin-bottom: 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  border: none;
  background: transparent;
}

.overview {
  width: 528px;
  height: 661px;
  padding: 25px 30px;
  border: 1px solid #030303;
}

.outcome {
  width: 470px;
  margin-bottom: 22px;
  background-image: url('../assets/img/Booking-img.jpg');
  background-position: right top;
  background-repeat: no-repeat;
}

.outcome-title {
  margin-bottom: 2px;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 37px;
  color: #272727;
}

.outcome-tour {
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  color: #740C11;
  opacity: 0.9;
}

.outcome-text {
  margin-bottom: 5px;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
}

.date-icon {
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-right: 15px;
  background-image: url('../assets/svg/booking-tickets/date.svg');
}

.time-icon {
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-right: 15px;
  background-image: url('../assets/svg/booking-tickets/Time.svg');
}

.exhibition-icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 15px;
  background-image: url('../assets/svg/booking-tickets/check.svg');
}

.overview-count-basic,
.overview-count-senior {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 7px;
}

.overview-count {
  position: relative;
}

.overview-count-p {
  font-size: 22px;
  line-height: 26px;
}

.overview-count-icon {
  display: inline-block;
  width: 32px;
  height: 20px;
  margin-right: 10px;
  text-align: center;
  font-size: 18px;
  line-height: 21px;
  border-radius: 4px;
  color: #A4A4A3;
  background-color: #030303;
}

.overview-total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 21px;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 37px;
}

/* .total-price {
  margin-left: 327px;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 37px;
} */

.credit-card {
  position: relative;
  margin-bottom: 26px;
  width: 470px;
  height: 241px;
  /* background-image: url('./assets/img/credit-card.jpg');
  background-repeat: no-repeat;
  background-position: center; */
}

.card-before {
  position: absolute;
  top: 0;
  left: 0; 
  width: 360px;
  height: 211px;
  /* padding: 15px 20px; */
  padding: 34px 20px 0;
  background-image: url('../assets/img/Card-before.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 8px;
  z-index: 1;
}

.card-before > p {
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 5px;
}

#card-number {
  margin-bottom: 29px;
  width: 215px;
  height: 35px;
  border: none;
  border-radius: 0;
}

#month,
#year {
  margin-bottom: 28px;
  /* margin-bottom: 10px; */
  padding: 10px;
  width: 100px;
  height: 35px;
  font-size: 12px;
  line-height: 14px;
  border: none;
  border-radius: 0;
}

#cardholder-name {
  margin-bottom: 10px;
  width: 320px;
  height: 35px;
  border: none;
  border-radius: 0;
}

#year {
  margin-left: 15px;
}

.card-after {
  width: 360px;
  height: 211px;
  position: absolute;
  bottom: 0;
  right: 0;
  background-image: url('../assets/img/Card-after.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 8px;
  /* z-index: -100; */
}

.card-after > p:first-child {
  margin-top: 85px;
  margin-left: 274px;
  margin-bottom: 6px;
  font-size: 12px;
  line-height: 14px;
}

#cvc {
  margin-top: 105px;
  margin-left: 265px;
  margin-bottom: 6px;
  width: 75px;
  height: 35px;
  border: none;
  border-radius: 0;
}

.card-after > p:last-child {
  width: 55px;
  margin-left: 275px;
  margin-bottom: 6px;
  font-size: 10px;
  line-height: 12px;
}

.book-btn {
  display: block;
  margin-left: auto;
  width: 220px;
  height: 45px;
  border: none;
  color: #ffffff;
  background: #710707;
  opacity: 0.9; 
  cursor: pointer;
}

/* parallax========================================= */

.parallax {
  width: 100%;
  height: 400px;
  background: url("../assets/img/parallax.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* contact=======================*/

.contacts__inner {
  display: flex;
  flex-direction: column;
}

.contacts__item {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  padding-top: 75px;
}

.contact-img {
  max-width: 960px;
  height: auto;
}

.contacts__text {
  /* width: 274px; */
  width: 400px;

  padding-right: 16px;
}

.map {
  width: 100%;
}

.contacts__btitle__item {
  margin-bottom: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;

  color: #000000;
}

.contacts__subtitle__item {
  margin: 25px 0;
}

a {
  text-decoration: none;
  color: #030303;
}

/* footer==================*/

.footer {
  height: 392px;
  padding-top: 75px;
  background-color: #030303;
}

.footer__inner-top {
  height: 190px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  /* background-image: url(../assets/svg/Logo.svg); */
  background-repeat: no-repeat;
}

.line-footer {
  height: 3px;
  width: 100%;
  background: #666666;
}

.footer__inner-bottom {
  height: 124px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer__item {
  /* width: 50%; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.footer-year {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 2px;
  color: #ffffff;
}

.nav-footer {
  display: flex;
  justify-content: space-between;
}

.nav-footer-420 {
  display: none;
}

.nav__list__footer {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  padding-left: 145px;
}

.nav__link__footer {
  text-decoration: none;
  font-weight: 200;
  line-height: 50px;
  letter-spacing: 2px;
  color: #ffffff;

  transition: color 0.1s linear;
}

.nav__item__footer {
  letter-spacing: 2px;
}

.nav__link__footer:hover {
  color: #9d8665;
}

.social__items {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.social__item {
  margin-top: 85px;
  margin-left: 24px;
}

.social__icon {
  height: 50px;
  width: 50px;
  display: inline-block;
  margin: 0;
  padding: 0;
  fill: #ffffff;

  border: 1px solid #ffffff;
  border-radius: 50%;
}

.social__item:hover .social__icon {
  fill: #9d8665;
  border: 1px solid #9d8665;
}
