/* home page */

/* Header */
.home-page {
  display: none;
  /* display: block; */
  min-width: 100%;
  min-height: calc(100vh - 70px);
  position: relative;
  /* display: flex; */
  /* flex-direction: row; */
  /* flex-direction: column; */
}

.home-page-header-container {
  width: 100%;
  max-width: 1720px;
  height: 70px;
  margin: 0 auto;
  padding: 0 50px 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.logo {
  width: 48px;
  height: 60px;
  background-image: url("../assets/svg/tree.svg");
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: .3s;
}

.logo:hover {
  filter: invert(57%) sepia(100%) saturate(329%) hue-rotate(141deg) brightness(89%) contrast(90%);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  margin-right: 30px;
  padding: 20px;
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  transition: .3s;
}

.nav-link:hover {
  color: #278D9F;
}

.header-controls {
  display: flex;
  align-items: center;
}

.search {
  width: 380px;
  height: 40px;
  padding: 5px 25px;
  margin: 10px 30px 10px 0;
  border-radius: 20px;
  border: 1px solid #278D9F;
  color: #fff;
  font-size: 18px;
  background-color: rgba(31, 112, 127, .3);
  background-image: url("../assets/svg/search.svg");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 330px center;
  backdrop-filter: blur(6px);  
  -webkit-appearance: none;
}

.search {
  outline: 0;
}

input[type="search"]::-webkit-search-cancel-button { 
  -webkit-appearance: none;
  background-image: url("../assets/svg/cross.svg");
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

input[type="search"]::-webkit-search-cancel-button:hover {
  filter: invert(28%) sepia(21%) saturate(3282%) hue-rotate(125deg) brightness(104%) contrast(106%) drop-shadow(0 0 10px #1BFFFF);
}
  

.select {
  width: 48px;
  height: 60px;
  background-image: url("../assets/svg/ball-2.svg");
  background-size: 48px 60px;
  background-position: left -8px;
  background-repeat: no-repeat;
  transition: .3s;
}
  
.select span {
  display: inline-block; 
  min-width: 40px;
  height: 40px;
  margin-top: 10px;
  margin-left: 3px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  background-color: #278D9F;
}

/* main-home-page */

.main-home-page {
  min-width: 100%;
  min-height: calc(100vh - 140px);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 600px;
  height: 250px;
  margin-bottom: 80px;
  margin-top: 220px;
  color: #fff;
  font-weight: 400;
  text-align: center;
  border: 3px solid #278D9F;
  border-radius: 25px;
  background-color: rgba(31, 112, 127, .3);
  backdrop-filter: blur(6px);  
  font-size: 48px;
}

.home span {
  width: 100%;
}

.button-home-page {
  position: relative;
  width: 320px;
  height: 60px;
  border: 3px solid #278D9F;
  border-radius: 30px;
  background-color: rgba(31, 112, 127, .3);
  backdrop-filter: blur(6px);
  font-weight: 300;
  font-size: 22px;
  color: #fff;
  cursor: pointer;

  border-color: #278D9F;
  box-shadow: 0 0 10px 10px #278D9F inset, 0 0 0 0 #278D9F;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 0.3s ease-in-out
}

.button-home-page:hover {
  border-color: #4dd2e9;
  box-shadow: 0 0 10px 0 #278D9F inset, 0 0 10px 10px #4dd2e9;
}
