* {
  box-sizing: border-box;
}

body {
  /* width: 100vw; */
  /* height: 100vh; */
  margin: 0;
  padding: 0;
  font-family: 'Neucha', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  background: url(../assets/bg.webp) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  /* overflow: hidden; */
}

/* Footer */

.footer {
  height: 70px;
  position: fixed;
  bottom: 0;
  padding: 0 50px 0 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #192F2D;
}

.rss-logo {
  width: 160px;
  height: 60px;
  background: url(../assets/svg/rss.svg) center center/contain no-repeat;
  transition: .3s;
}

.rss-logo:hover {
  filter: invert(57%) sepia(100%) saturate(329%) hue-rotate(141deg) brightness(89%) contrast(90%);
}

.course-link {
  display: block;
  width: 100%;
  height: 100%;
}

.github-link {
  color: inherit;
  text-decoration: none;
  transition: .3s;
}

.github-link:hover {
  color: #278D9F; 
}
