@media (max-width: 650px) {
  .container {
    max-width: 380px;
  }

  .mask {
    mask-image: url(../assets/svg/Logo-420.svg);
    mask-size: cover;
    -webkit-mask-image: url(../assets/svg/Logo-420.svg);
    -webkit-mask-size: cover;
    transition: 0.3s;
    cursor: pointer;
  }

  .header__inner {
    height: 90px;
    background-position: 0 30px;
  }

  .burger__nav {
    display: block;
    position: absolute;
    width: 380px;
    max-width: 0;

    height: 544px;
    bottom: 40px;
    left: calc(100% - 380px);
    
  }

  #menu:checked ~ .burger__nav {
    max-width: 380px;
    /* max-height: 861px; */
    font-size: 1rem;
  }

  .burger-imgs {
    display: none;
  }

  .burger-imgs-420 {
    margin: 0 auto;
    max-width: 311px;
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 13px;
    row-gap: 13px;
  }

  .burger-social {
    height: 96px;
    margin-top: 20px;
    padding-left: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
  }

  .welcome {
    height: 634px;
  }

  .welcome__item {
    /* min-height: 215px; */
    height: 269px;
    /* width: 100%; */
    padding-top: 95px;
    text-align: center;
  }

  .section-welcome {
    font-size: 28px;
    line-height: 40px;
  }

  .section__subtitle {
    font-size: 16px;
    line-height: 19px;
    margin-top: 25px;
    margin-bottom: 50px;
  }

  .section__title {
    font-size: 28px;
    line-height: 40px;
  }

  .visiting__items {
    padding-bottom: 0;
  }

  .section__title__item {
    /* margin-top: 19px; */
    /* padding-bottom: 22px; */
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 5px;
  }

  .section__subtitle__item {
    font-size: 16px;
    line-height: 19px;
  }

  .explore {
    min-height: 551px;
  }

  /* .explore__img {
    max-width: 380px;
    height: auto;
  } */

  .explore__img {
    max-width: 380px;
    max-height: 368px;
    width: 100%;
    position: relative;
  }

  /* .img-after {
    max-width: 420px;
    width: 100%;
  } */

  /* .back-img {
    display: none;
  } */

  /* .back-img-420 {
    display: block;
    position: absolute;
    height: 100%;
    overflow: hidden;
    user-select: none;
    max-height: 368px;
    width: 100%;
  } */

  /* .img-before {
    height: 100%;
  } */

  .img-slider {
    padding: 0;
    left: 220px;
    max-height: 368px;
    width: auto;
  }

  .img-slider img {
    position: absolute;
    max-height: 368px;
    /* height: 100%; */
    width: auto;
  }

  .video__item {
    width: 100%;
  }

  .video-vid:not(:fullscreen) {
    height: 231px;
  }

  .panel {
    padding: 0 20px 0 20px;
  }

  .small-slide {
    height: 101px;
  }

  .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #999999;
    transition: 0.5s;
    cursor: pointer;
  }

  .video__play {
    width: 55px;
    height: 55px;
  }

  .small-play {
    width: 14px;
    height: 18px;
  }

  .volume-btn {
    width: 18px;
    height: 14px;
  }

  .range__volume {
    max-width: 200px;
    width: 60%;
  }

  .fullscreen-btn {
    width: 18px;
    height: 18px;
  }

  .panel {
    height: 50px;
  }

  .video-slider {
    height: 149px;
    margin-top: 40px;
  }

  .video-slider-set {
    width: 100%;
    height: 100%;
    /* row-gap: 20px; */
  }

  .video-slider-item {
    max-height: 101px;
    /* width: calc(50% - 10px); */

  }

  .bullet-right,
  .bullet-left {
    height: 8px;
    width: 8px;
  }

  .video-slider-dots-420 {
    width: 176px;
    height: 8px;
    margin: 40px auto 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .video-slider-dots {
    display: none;
  }

  .video-slider-dots-items {
    width: 120px;
  }

  .video-dot {
    width: 8px;
    height: 8px;
  }

  .video-slider-left,
  .video-slider-right {
    display: none;
  }

  .video-slider-left-420,
  .video-slider-right-420 {
    display: block;
    height: 8px;
    width: 8px;
    display: inline-block;
    margin: 0;
    padding: 0;
    fill: #999999;
    transition: opacity 0.7s ease-in-out;
    user-select: none;
    cursor: pointer;
  }
  
  .picture-container {
    height: 757px;
  }

  .picture-inner-container {
    height: 1750px;
    column-gap: 24px;
    row-gap: 24px;
  }

  .galery-img {
    /* max-width: 178px; */
    width: calc(50% - 12px);
  }

  .tickets__item {
    flex-direction: column;
  }

  .ticket-img-1024 {
    display: none;
  }

  .ticket-img-420 {
    display: block;
    margin-bottom: 40px;
  }

  .amount {
    width: 100%;
    text-align: center;
  }

  .button__wrap {
    padding-top: 16px;
    width: 175px;
    margin: 0 auto;
    text-align: center;
  }

  .p-amount {
    margin-top: 20px;
  }

  .total {
    margin-top: 40px;
    text-align: center;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 1.65px;
  }

  .buy__now {
    font-size: 16px;
    line-height: 0;
  }

  .contacts__btitle__item {
    font-size: 16px;
    line-height: 19px;
  }

  .contact-img {
    max-width: 380px;
    height: 248px;
  }

  .footer {
    height: 420px;
  }

  .mask {
    width: 131px;
    height: 20px;
  }

  .nav__list__footer {
    padding: 0;
  }

  .footer__item {
    width: 100%;
    flex-direction: column;
    row-gap: 40px;
  }

  .nav-footer {
    display: none;
  }

  .nav-footer-420 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 16px;
    line-height: 19px;
  }

  .social {
    padding-left: 0;
    margin: 0 auto;
  }

  .social__item {
    margin-left: 5px;
  }

  .rs {
    display: none;
  }

  .nav__link__footer {
    font-size: 16px;
    line-height: 22px;
  }

  .footer-year {
    font-size: 16px;
    line-height: 22px;
  }

  .nav__item__footer:first-child {
    /* letter-spacing: 2px; */
    padding-bottom: 30px;
}

  /* +++++++++++++++++++++++++++++ */

  .booking-tickets {
    max-width: 420px;
  }
  .booking-title {
    font-size: 32px;
    line-height: 35px;
  }

  .tickets-form {
    max-width: 380px;
    width: 100%;
    
}
  .date,
  .time {
    width: 100%;
    margin-left: 0;
  }
  .outcome-text > span {
    font-size: 18px;
    line-height: 21px;
  }
  .outcome {
    background-position: right 15% top;
    width: 330px;
    background-size: 35%;
  }
  .credit-card {
    display: flex;
    flex-wrap: wrap;
    width: 330px;
    height: 443px;
    margin-bottom: 40px;
  }
  .card-before {
    background-image: url(../assets/img/two-cards.jpg);
    margin-bottom: 25px;
    width: 330px;
    height: 100%;
    position: relative;
  }
  .card-after {
    display: none;
    position: relative;
    width: 330px;
    height: 209px;
  }
  #cardholder-name {
    width: 290px;
  }
  .overview {
    max-width: 360px;
    width: 100%;
    height: 885px;
  }
  .card-after > p:first-child {
    margin-left: 244px;
  }
  
  #cvc {
    margin-left: 235px;
  }
  
  .card-after > p:last-child {
    margin-left: 249px;
  }

  .type-tickets {
    background-position-x: 14px, 335px;
  }

  /* .total-price {
    margin-left: 195px;
  } */

}
